{% extends 'base.html' %}
{% load static %}

{% block title %}Menu{% endblock %}
{% block content %}


<div class="menu-container">
  <h1 class="text-center mb-4">Our Menu</h1>

  {% for category in categories %}
    <h2 class="mt-4">{{ category.name }}</h2>
    <p class="text-muted">{{ category.description }}</p>

    {% for item in category.items.all %}
      <a href="{{ item.get_absolute_url }}"
         class="list-group-item list-group-item-action my-2">

        <div>
          <div class="fw-bold">{{ item.name }}</div>

          {% if item.allergens_list %}
            <div class="mt-2 mb-1">
              {% for allergen in item.allergens_list %}
                <span class="badge bg-danger text-white me-1">{{ allergen }}</span>
              {% endfor %}
            </div>
          {% endif %}

          <div class="text-muted">€{{ item.price }}</div>
          <div class="small text-truncate" style="max-width:38rem;">
            {{ item.description|truncatechars:80 }}
          </div>
        </div>
      </a>
    {% empty %}
      <p>No items available in this category.</p>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
